# टेराफॉर्म के डाउनलोड किए गए प्लगइन्स और लोकल स्टेट फोल्डर
.terraform/

# टेराफॉर्म की लॉग फाइलें
*.log

# लोकल याददाश्त वाली फाइलें (अगर कभी गलती से जनरेट हो जाएं)
*.tfstate
*.tfstate.*

# सीक्रेट वेरिएबल्स वाली फाइलें (ताकि आपका पासवर्ड लीक न हो)
*.tfvars
*.tfvars.json
tfplan